<p style="color: green"><%= notice %></p>

<h1>Topics</h1>

<div id="topics">
  <% @topics.each do |topic| %>
    <tr>
      <td><%= link_to topic.title, topic %></td>
      <td><%= pluralize(topic.votes.count, "vote") %></td>
      <td><%= button_to '+1', upvote_topic_path(topic), method: :post %></td>
      <td><%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</div>

<%= link_to "New topic", new_topic_path %>
